@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

/* .entry-content > .max-w-full {
  max-width: 100%;
} */

figure.desktop > img,
figure.mobile > img {
  min-height: 470px;
  max-height: 470px;
  object-fit: cover;
  max-width: 100vw !important;
  width: 100vw;
}

.wp-block-cover.slogen {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  padding: 0 !important;
  max-width: 100% !important;
  width: 100vw !important;
}

figure.hidden {
  display: none !important;
}

@media (min-width: 470px) {
  figure.mobile > img {
    object-fit: fill;
  }
}

@media (min-width: 782px) {
  figure.md\:hidden {
    display: none !important;
  }

  .wp-block-cover.slogen {
    margin-top: 107px;
    margin-bottom: 107px;
  }

  figure.md\:block {
    display: block !important;
  }
}

@media (min-width: 1366px) {
  figure.desktop > img {
    object-fit: fill;
  }
}
